.fifthSection_parent_div {
  background-color: #f1f3f4;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}
.fifthSection_text_div {
  text-align: left;
}
.fifthSection_text_div h1 {
  margin-bottom: 10px;
}
.fifthSection_text_div p {
  margin-bottom: 10px;
}
.fifthSection_text_div button {
  padding: 10px;
  border: none;
  /* background-color: #ff671d; */
  background-color: #00478f;
  margin-top: 20px;
  color: white;
  border-radius: 2px;
}
.fifthSectionPhoto {
  width: 50%;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  .fifthSection_parent_div {
    padding: 20px;
  }
}
@media screen and (max-width: 750px) {
  .fifthSection_parent_div {
    flex-direction: column-reverse;
  }
  .fifthSectionPhoto {
    width: 100%;
  }
}
