.fifthSection_main_div {
  background-color: #f1f3f4;
  margin-top: 30px;
  padding-top: 40px;
}
.fifthSection_parent_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  width: 75%;
  margin: auto;
  margin-top: 30px;
  /* padding-top: 60px; */
  padding-bottom: 30px;
}
.fifthSection_text_div {
  text-align: center;
  /* background-color: red; */
  width: 100%;
}
.fifthSection_left_text {
  margin-top: 15px;
  line-height: 28px;
}
.fifthSection_contact_us_today_div {
  background-color: #00478f;
  color: white;
  padding: 20px;
}
.fifthSection_text_div h1 {
  margin-bottom: 10px;
}
.fifthSection_text_div p {
  margin-bottom: 10px;
}
.fifthSection_text_div button {
  padding: 10px;
  border: none;
  background-color: #00478f;
  margin-top: 20px;
  color: white;
  border-radius: 2px;
}
.fifthSectionPhoto_div {
  /* background-color: rebeccapurple; */
}
.fifthSectionPhoto {
  width: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  .fifthSection_parent_div {
    padding: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .fifthSection_parent_div {
    width: 100%;
  }
}
@media screen and (max-width: 779px) {
  .fifthSection_parent_div {
    flex-direction: column-reverse;
  }
  .fifthSectionPhoto {
    width: 100%;
  }
}
