.book_a_van_parent_div {
  margin-top: 90px;
}
.book_a_van_form_div {
  padding: 40px;
  border: 1px solid black;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}
.book_a_van_form_div h1 {
  margin-bottom: 20px;
}

.label {
  display: block;
  text-align: left;
  margin-top: 20px;
}

.input_field {
  padding: 8px;
  display: block;
  width: 100%;
  margin-top: 10px;
}
.text_area {
  width: 100%;
  margin-top: 30px;
  height: 150px;
  padding: 10px;
}
.Submit_btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgb(83, 83, 243);
  color: white;
  cursor: pointer;
}
.success_message {
  color: green;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.success_message.error {
  color: red;
}

@media screen and (max-width: 1300px) {
  .book_a_van_form_div {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .book_a_van_form_div {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .book_a_van_form_div {
    width: 95%;
  }
}
