.service_parent_div {
  margin-top: 70px;
}
.service_cart_div {
  background-color: rgb(238, 238, 238);
  margin-top: 20px;
  padding: 20px;
}
.service_flex_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
}
.service_flex_div img {
  width: 30%;
}
