.about_us_parent_div {
  margin-top: 100px;
}
.about_us_flex_div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 75%;
  margin: auto;
}
.about_us_text_div {
  text-align: left;
}
.about_us_text_div p {
  margin-top: 20px;
  line-height: 27px;
}
@media screen and (max-width: 1250px) {
  .about_us_flex_div {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .about_us_flex_div {
    width: 98%;
  }
}
@media screen and (max-width: 900px) {
  .about_us_flex_div {
    flex-direction: column;
    width: 85%;
  }
  .aboutUsPhoto {
    width: 100%;
  }
}
