.second_section_main_div {
  position: relative;
}
.second_section_flex_div {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 75%;
  background-color: #f1f3f4;
  margin: auto;

  margin-top: 50px;
  padding: 20px;
}
.second_section_flex_div img {
  max-width: 25%;
}
.second_section_text_div {
  text-align: left;
}
.second_section_flex_div h3 {
  margin-bottom: 10px;
}

.second_section_button {
  border: none;
  margin-top: 10px;
  background-color: deepskyblue;
  color: white;
  padding: 15px;
  width: 30%;
  cursor: pointer;
}

/* Modal overlay */
.second_sectionmodal_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9); /* light background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* make sure it’s on top */
}

/* -------------------------------------------------- */
/* Modal content */

.second_sectionmodal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.second_sectionmodal_modal_content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

/* Close button */
.second_sectionmodal_close_button {
  margin-top: 20px;
  background-color: deepskyblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.second_sectionmodal_close_button:hover {
  background-color: dodgerblue;
}
/* ---------------------------------------------------- */
@media screen and (max-width: 1225px) {
  .second_section_button {
    width: 35%;
  }
}
@media screen and (max-width: 1072px) {
  .second_section_flex_div {
    width: 85%;
  }
}
@media screen and (max-width: 946px) {
  .second_section_flex_div {
    width: 95%;
  }
}
@media screen and (max-width: 850px) {
  .second_section_flex_div {
    flex-direction: column;
  }
  .second_section_flex_div img {
    max-width: 50%;
    margin-right: auto;
  }
}
@media screen and (max-width: 512px) {
  .second_section_button {
    width: 50%;
  }
}
@media screen and (max-width: 371px) {
  .second_section_button {
    width: 70%;
  }
}
