.pricing_parent_div {
  margin-top: 100px;
}
.pricing_flex_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 20px;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  gap: 50px;
}
.pricing_flex_div img {
  width: 40%;
}

.pricing_text_div {
  text-align: left;
}
.pricing_text_div p {
  line-height: 30px;
}

@media screen and (max-width: 750px) {
  .pricing_flex_div {
    flex-direction: column;
  }
  .pricing_flex_div img {
    width: 80%;
  }
}
