.faqs_parent_div {
  margin-top: 120px;
}
.faqs_customer_text_div h2 {
  margin-bottom: 20px;
}
.faqs_drivers_text_div {
  margin-bottom: 160px;
}
.faqs_drivers_text_div h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
