.faqs_parent_div {
  margin-top: 120px;
}

/* =========== */
.faqs_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 75%;
  margin: auto;
  margin-bottom: 100px;
}

.faqs_question_div {
  text-align: left;

  height: 500px;
}

.faqs_grid_div img {
  width: 100%;
}
/* ==================xxxxxxxxxxxxxx====================== */
.faq_box {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px 14px;
  margin: 10px 0;
  background-color: white;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

.faq_box.open {
  background-color: #77d9ff;
}

.faq_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_question {
  font-weight: bold;
  margin: 0;
  margin-left: 15px;
}

.faq_answer {
  margin-top: 8px;
  color: #333;
  font-size: 15px;
}

.arrow {
  font-size: 16px;
  transition: transform 0.3s ease;
  margin-left: -20px;
}

.arrow.rotate {
  transform: rotate(180deg);
  margin-top: -25px;
}

/* ==================xxxxxxxxxxxxxx====================== */

@media screen and (max-width: 1103px) {
  .faqs_grid_div {
    margin-top: 150px;
  }
}
@media screen and (max-width: 1061px) {
  .faqs_parent_div {
    margin-top: 80px;
  }
  .faqs_grid_div {
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
  .faqs_question_div {
    margin: auto;
    order: 2;
  }
  .faqs_question_div select {
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
  }
  .faqs_photo_div {
    order: 1;
  }
  .faqs_photo_div img {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .faqs_parent_div {
    margin-top: 70px;
  }

  .faqs_photo_div img {
    width: 100%;
  }
}
@media screen and (max-width: 402px) {
  .faqs_grid_div {
    width: 100%;
  }
}
