.third_section_parent_div {
  background-color: #f1f3f4;
  margin-top: 50px;
  padding: 40px;
}
.third_section_grid_div {
  display: flex;

  align-items: center;
  width: 75%;
  gap: 30px;
  margin: auto;
  margin-top: 50px;
}
.third_section_img_div {
  /* background-color: red; */
}
.thirdSectionPhotoOne {
  width: 100%;

  border-radius: 15px;
  object-fit: contain;
}

.third_section_text_div {
  text-align: left;
  /* background-color: rebeccapurple; */
  width: 100%;
}
.third_number_div {
  margin-bottom: 10px;
  background-color: #00478f;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 15px;
  position: relative;
}
.third_number_div p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 9px;
}
.third_section_text_div h2 {
  margin-bottom: 20px;
}
.third_section_btn {
  background-color: #00478f;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 2px;

  /* margin: auto; */
  margin-top: 20px;
}

@media screen and (max-width: 1674px) {
  .third_section_grid_div {
    width: 60%;
    gap: 30px;
  }
}
@media screen and (max-width: 1536px) {
  .third_section_grid_div {
    width: 70%;
    gap: 40px;
  }
}
@media screen and (max-width: 1250px) {
  .third_section_grid_div {
    width: 90%;
    gap: 40px;
  }
}

@media screen and (max-width: 1092px) {
  .third_section_grid_div {
    width: 100%;
    gap: 40px;
  }
}
@media screen and (max-width: 867px) {
  .third_section_grid_div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 688px) {
  .third_section_grid_div {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .third_section_text_div {
    margin: auto;
  }
  .third_number_flex_div {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .third_section_btn {
    margin: auto;
  }
}
@media screen and (max-width: 463px) {
  .third_section_grid_div {
    gap: 50px;
  }

  .third_number_flex_div {
    display: flex;
  }
  .third_number_flex_div h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 413px) {
  .third_number_flex_div {
    gap: 20px;
  }
  .third_number_flex_div h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 357px) {
  .third_section_img_div {
    width: 70%;
  }
  .third_number_flex_div {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .third_number_flex_div h2 {
    font-size: 18px;
  }
}
