/* .carousel-container {
  position: relative;
  width: 100%;
 
  overflow: hidden;
  margin-top: -38px;
}

.carousel-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s ease;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}


@media (max-width: 768px) {
  .carousel-btn {
    font-size: 1.5rem;
    padding: 8px 12px;
  }
} */
.carousel-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: -30px;
}

.carousel-image {
  width: 100%;
  margin: auto;
  height: 700px;
  /* object-fit: cover; */
  /* border-radius: 8px; */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;

  font-size: 24px;
}

.arrow.prev {
  left: 20px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-radius: 50%;
}

.arrow.next {
  font-size: 24px;
  right: 20px;

  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .carousel-image {
    width: 100%;
    margin: auto;
    height: 100%;
    object-fit: cover;
    /* border-radius: 8px; */
  }
  .arrow {
    padding: 8px;
    font-size: 20px;
  }

  .arrow.prev {
    font-size: 24px;
    padding: 10px;
  }

  .arrow.next {
    font-size: 24px;
    padding: 10px;
  }
}
