.become_a_driver_main_parent_div {
  background-color: #eeeded;
  padding: 20px;
}

.become_a_driver_parent_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  gap: 50px;
}
.becomeAdriverPhoto_div {
  /* background-color: red; */
}
.becomeAdriverPhoto {
  width: 100%;
}
.form_container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.form_container h1 {
  margin-bottom: 20px;
}
.become_a_driver_form label {
  text-align: left;
}
h1 {
  text-align: center;
  color: #333;
}

.form_group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form_group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form_group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form_group input[type="file"] {
  border: none;
}

.submit_btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit_btn:hover {
  background: #0056b3;
}

/* Responsive Design */
@media screen and (max-width: 1400px) {
  .become_a_driver_parent_div {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .become_a_driver_parent_div {
    grid-template-columns: repeat(1, 1fr);
  }

  .becomeAdriverPhoto {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .form_container {
    padding: 15px;
  }

  .form_group input {
    font-size: 14px;
  }

  .submit_btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 481px) {
  .form_container {
    font-size: 14px;
  }
}
@media screen and (max-width: 346px) {
  .form_container {
    font-size: 10px;
  }
}
